@page "/hazard-upload"
@using Domain.Frontend
@using HazardVerifyService
@using Infrastructure.Data
@using Microsoft.Extensions.AI
@using NorthernIrelandPowerOutages.Models
@rendermode InteractiveServer
@inject IConfiguration config
@inject ApplicationDbContext DbContext
@inject IChatClient ChatClient

<h3>HazardUpload</h3>

<EditForm Model="@hazardInput" OnValidSubmit="SaveHazard" FormName="hazardForm">
    <div>
        <label for="title">Title</label>
        <InputText id="title" class="form-control" @bind-Value="hazardInput.Title" />
    </div>
    <div>
        <label for="description">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="hazardInput.Description" />
    </div>
    <div>
        <label>Images</label>
        <InputFile OnChange="@UploadHazards" accept=".png,.jpg,.jpeg" />
    </div>

    <div class="mt-2">
        @foreach (var image in uploadedImages)
        {
            <div class="mb-2">
                <img src="@image.PreviewUrl" width="200" />
                <button type="button" class="btn btn-danger btn-sm" @onclick="@(() => RemoveImage(image))">Remove</button>
            </div>
        }
    </div>

    <button class="btn btn-primary mt-3" type="submit">Save</button>
</EditForm>

@if (errors.Count() > 0)
{
    <h2>Errors</h2>
    <ul class="text-danger">
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}

@* <img src="@CreateWebPath(hazardInput.FileName)" width="400" /> *@

<p>Image recognition response: @response</p>

@code {
    private string response = "No response yet";
    private HazardUI hazardInput = new();
    private List<ImageWithPreviewUI> uploadedImages = new();

    private long maxFileSize = 3 * 1024 * 1024; // 3 MB
    private int maxAllowedFiles = 3;
    private List<string> errors = new();
    private IBrowserFile? file = null;

    private string CreateWebPath(string relativePath)
    {
        if (string.IsNullOrWhiteSpace(relativePath))
        {
            return string.Empty;
        }

        return Path.Combine(config.GetValue<string>("WebStorageRoot"), relativePath);
    }

    private async  Task<string> GetImagePreviewUrl(IBrowserFile file)
    {
        using var stream = file.OpenReadStream(maxAllowedSize: 10_000_000);
        using var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        var base64 = Convert.ToBase64String(ms.ToArray());
        return $"data:{file.ContentType};base64,{base64}";
    }

    private async Task SaveHazard(EditContext args)
    {
        try
        {
            string relativePath = await CaptureFile();
            hazardInput.FileName = relativePath;

            var t = Path.Combine(config.GetValue<string>("FileStorage"), relativePath);

            var result = await LlavaClient.CallLlavaAsync(Path.Combine(config.GetValue<string>("FileStorage"), relativePath),
            $"Is this an image of {hazardInput.Title}");

            response = result.Response;

            DbContext.Hazards.Add(hazardInput);
            DbContext.SaveChanges();
        }
        catch (Exception ex)
        {
            errors.Add($"Error: {ex.Message}");
        }
    }

    private void RemoveImage(ImageWithPreviewUI image)
    {
        uploadedImages.Remove(image);
    }

    private async Task UploadHazards(InputFileChangeEventArgs e)
    {
        file = e.File;
        
        var previewUrl = await GetImagePreviewUrl(file);
        uploadedImages.Add(new ImageWithPreviewUI
        {
            File = file,
            PreviewUrl = previewUrl
        });
    }

    private async Task<string> CaptureFile()
    {
        if (file is null)
        {
            return "";
        }

        // if (e.FileCount > maxAllowedFiles)
        // {
        //     errors.Add($"Error: attempting to upload {e.FileCount} files, but only {maxAllowedFiles} files are allowed");
        //     return;
        // }

        try
        {
            string newFileName = Path.ChangeExtension(
                Path.GetRandomFileName(),
                Path.GetExtension(file.Name)); // Trust extension from upload but not file name

            string? fileStorageLocation = config.GetValue<string>("FileStorage");
            if (string.IsNullOrWhiteSpace(fileStorageLocation))
            {
                throw new Exception("File storage location is not configured.");
            }

            string path = Path.Combine(
                fileStorageLocation,
                "jhamilton",
                newFileName);

            string relativePath = Path.Combine(
                "jhamilton",
                newFileName);

            Directory.CreateDirectory(Path.Combine(
                fileStorageLocation,
                "jhamilton"));

            await using FileStream fs = new(path, FileMode.Create);
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
            return relativePath;
        }
        catch (Exception)
        {
            errors.Add($"Error: unable to upload file {file.Name}");
            throw;
        }

        // foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        // {
        //     try
        //     {
        //         string newFileName = Path.ChangeExtension(
        //             Path.GetRandomFileName(),
        //             Path.GetExtension(file.Name)); // Trust extension from upload but not file name

        //         string? fileStorageLocation = config.GetValue<string>("FileStorage");
        //         if (string.IsNullOrWhiteSpace(fileStorageLocation))
        //         {
        //             throw new Exception("File storage location is not configured.");
        //         }

        //         string path = Path.Combine(
        //             fileStorageLocation,
        //             "jhamilton",
        //             newFileName);

        //         Directory.CreateDirectory(Path.Combine(
        //             fileStorageLocation,
        //             "jhamilton"));

        //         await using FileStream fs = new(path, FileMode.Create);
        //         await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
        //     }
        //     catch (Exception)
        //     {
        //         errors.Add($"Error: unable to upload file {file.Name}");
        //     }
        // }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
