@page "/"
@using AddressService
@using Domain.Backend
@using FaultPredictionService
@using FaultService
@using Infrastructure.Data
@using Infrastructure.Email
@using Infrastructure.Helpers
@using Infrastructure.ProjectSettings
@using LocationService
@using NorthernIrelandPowerOutages.Components.Overlays
@using NorthernIrelandPowerOutages.Components.Search
@using NorthernIrelandPowerOutages.Counties
@using NorthernIrelandPowerOutages.Enums
@using NorthernIrelandPowerOutages.Models
@using System.Text.Json
@using Infrastructure.Sms
@using NorthernIrelandPowerOutages.Services
@using System.Security.Claims
@implements IAsyncDisposable
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JS
@inject ISmsSender SmsSender
@inject IEmailSender EmailSender
@inject Microsoft.Extensions.Options.IOptionsSnapshot<PersonalSettings> PersonalSettings
@inject IDeviceLocationService LocationService
@inject IFaultPollingService FaultPollingService
@inject IAddressService AddressService
@inject ApplicationDbContext DbContext
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IFaultPrediction faultPrediction;
@inject IHistoricalFaultSavingService HistoricalFaultSavingService;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div style="position: relative; height: 100vh; width: 100%;">
    <div id="map" style="height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 0;"></div>

    <div style="position: absolute; top: 20px; left: 20px; z-index: 1000;" class="mt-5">
        
        @if (showUploadHazardOverlay)
        {
            <HazardUploadOverlay OnClose="HideHazardUploadOverlay" Latitude="@newMarkerLatitude" Longitude="@newMarkerLongitude" />
        }

        @if (showHazardViewOverlay)
        {
            <HazardViewOverlay OnClose="HideHazardViewOverlay" Hazard="@activeHazard"/>
        }

        @if (showMultiplePinOverlay)
        {
            <MultiplePinOverlay OnClose="HideMultiplePinOverlay" ChildPins="@childPins" />
        }

        @if (showUploadSelectOverlay)
        {
            <UploadSelectOverlay OnClose="HideUploadSelectOverlay" OnMarkerTypeSelected="HandleMarkerTypeSelected" />
        }

        @if (showUploadServiceOverlay)
        {
            <ServiceUploadOverlay OnClose="HideServiceUploadOverlay" Latitude="@newMarkerLatitude" Longitude="@newMarkerLongitude" />
        }

        @if (showFaultOverlay)
        {
            <FaultOverlay OnClose="HideFaultOverlay" fault="@selectedFault" />
        }

        @if (showPlannedOutageOverlay)
        {
            <PlannedOutageOverlay OnClose="HidePlannedOutageOverlay" Fault="@selectedFault" />
        }

        @if (showPredictionOverlay)
        {
            <PredictionOverlay OnClose="HidePredictionOverlay" Latitude="@predictionLatitude" Longitude="@predictionLongitude" />
        }

        @if (showFavouriteOverlay)
        {
            <FavouriteOverlay OnClose="HideFavouriteOverlay" Latitude="@predictionLatitude" Longitude="@predictionLongitude" />
        }

        <div>
            @if (showModal)
            {
                <div class="modal show d-block" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Marker Clicked</h5>
                                <button type="button" class="btn-close" @onclick="CloseModal"></button>
                            </div>
                            <div class="modal-body">
                                <p>@googleMapPin.Name</p>
                                <p>@googleMapPin.Latitude</p>
                                <p>@googleMapPin.Longitude</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);
            display: flex; flex-direction: column; align-items: center; gap: 5px; font-size: 20px" class="mb-3">

        @if (isPlacingMarkers)
        {
            <p class="mt-2" style="margin-bottom: 0; font-weight: bold; color: black; font-size: 1.1em;">
                Click anywhere on the map to place a marker.
            </p>
        }

        <div style="display: flex; align-items: center; gap: 10px;">
            <GoogleMapSearchBox OnSearchResultSuccess="OnSearchResultSuccess" />

            <button class="mb-5 btn btn-primary"
                    style="width: 40px; height: 40px; border-radius: 50%; padding: 0; font-weight: bold; font-size: 1.2rem; text-align: center;"
                    @onclick="ToggleGeoJson"
                    disabled="@isCalculatingCountyOutages">
                C
            </button>


            @if (isAuthenticated is not null && isAuthenticated.Value)
            {
                <button class="mb-5 btn @(isPlacingMarkers ? "btn-warning" : "btn-primary")"
                        style="width: 40px; height: 40px; border-radius: 50%; padding: 0; font-weight: bold; font-size: 1.2rem; text-align: center;"
                        @onclick="ToggleMarkerPlacement">
                    <i class="bi bi-pin-angle-fill"></i>
                </button>
            }

@*             <div style="display: flex; gap: 0.5rem; flex-wrap: wrap;">
                @foreach (var kvp in countyOutages)
                {
                    <div class="badge bg-light text-dark border px-3 py-2" style="font-size: 0.85rem; white-space: nowrap;">
                        <strong>@kvp.Key:</strong> @kvp.Value outage(s)
                    </div>
                }
            </div> *@
        </div>
    </div>

</div>